<a href="https://colab.research.google.com/github/julioalves01967302/atividade-0.1/blob/main/atividade_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

questão 01

In [ ]:
mensagem = "Alunos - PLP Unifavip 2022.2"

In [ ]:
print (mensagem)

Alunos - PLP Unifavip 2022.2

questão 02

In [ ]:
número =input("O número informado foi?:")

O número informado foi?:5

In [ ]:
print(número)

5

questão 03

In [ ]:
num01 =float(input("digite o número 01 : "))

digite o número 01 : 222

In [ ]:
num02 = float(input("digite o número 02 :"))

digite o número 02 : 25

In [ ]:
soma = num01 + num02
print ("soma dos dos valores" ,soma )

soma dos dos valores 247.0

questão 04

In [ ]:
nota01 = float(input("digite a nota 01 : " ))

digite a nota 01 : 06

In [ ]:
nota02 = float(input("digite a nota 02 : " ))

digite a nota 02 : 06

In [ ]:
nota03 = float(input("digite a nota 03 : " ))

digite a nota 03 : 07

In [ ]:
nota04 = float(input("digite a nota 04 : " ))

digite a nota 04 : 08

In [ ]:
média=(nota01+ nota02+ nota03+ nota04) / 4

In [ ]:
print("média das notas",média)

média das notas 6.75

questão 05

In [ ]:
metro = float(input("valor em metros : "))

valor em metros : 2

In [ ]:
centimetros = metro * 100

In [ ]:
print( metro,"metros equivale a ",centimetros,"centimentros" )

2.0 metros equivale a  200.0 centimentros

questão 06

In [ ]:
raio= float(input("valor do raio "))

valor do raio 6

In [ ]:
import math

In [ ]:
area = math.pi * (raio ** 2)

In [ ]:
print ("a area do circulo do  raio  ",raio ,"é",area )

a area do circulo do  raio   6.0 é 9503.317777109125

questão 07

In [ ]:
lado=float(input("digite o valor do lado do quadrado : "))
area= lado **2
dobro = area  * 2
print("a area do quadrado é", area)
print("o dobro da area é", dobro)

digite o valor do lado do quadrado : 8

questão 08

In [ ]:
valor_hora =float(input("valor das hrs trabalhadas é :"))
horas_trabalhadas=float(input("digite os dias trabalhados no mês : "))
salario=valor_hora*horas_trabalhadas
print("o valor do salario é :", salario)

valor das hrs trabalhadas é :60
digite os dias trabalhados no mês : 27
o valor do salario é : 1620.0

questão 09

In [ ]:
fahrenheit=float(input("valor do fahrenheit é; "))

valor do fahrenheit é; 22

In [ ]:
celsius = 5* ((fahrenheit - 32) / 9)

In [ ]:
print(f"{fahrenheit}°F equivale a {celsius:.2f}°C")

22.0°F equivale a -5.56°C

quastão 10

In [ ]:
celsius = float(input("a temperatura em graus celsius é: "))

a temperatura em graus celsius é: 30

In [ ]:
fahrenheit = (celsius * 9/5)+ 32

In [ ]:
print(f"{celsius}°C equivale a {fahrenheit:.2f}°F ")

30.0°C equivale a 86.00°F

questão 11) Faça um Programa que peça 2 números inteiros e um número real. Calcule e mostre:

a-o produto do dobro do primeiro com metade do segundo.

b-a soma do triplo do primeiro com o terceiro.

c-o terceiro elevado ao cubo.

In [ ]:
num01= int(input("numero inteiro : "))

numero inteiro : 3

In [ ]:
num02= int(input("numero inteiro : "))

numero inteiro : 4

In [ ]:
num03=float(input("numero real : "))

numero real : 5

In [ ]:
resultaado_01=(2*num01) + (num02/2)

In [ ]:
resultado_02=(3*num01) + num03

In [ ]:
resultado_03= num03**3

In [ ]:
print("dobro do primeiro com metade do segundo é: "  , resultaado_01)
print("a soma do triplo do primeiro com o terceiro é : " , resultado_02)
print("o terceiro elevado ao cubo é : " , resultado_03)

dobro do primeiro com metade do segundo é:  8.0
a soma do triplo do primeiro com o terceiro é :  14.0
o terceiro elevado ao cubo é :  125.0

questão 12) Tendo como dados de entrada a altura de uma pessoa, construa um programa que calcule seu peso ideal, usando a seguinte fórmula: (72.7*altura) - 58

In [ ]:



altura = float(input("Digite a sua altura  : "))

peso_ideal = (72.7 * altura) - 58

print(f"O peso ideal para uma pessoa com {altura}m de altura é: {peso_ideal:.2f} kg")

Digite a sua altura  : 1.65
O peso ideal para uma pessoa com 1.65m de altura é: 61.95 kg

questão 13) Tendo como dado de entrada a altura (h) de uma pessoa, construa um algoritmo que calcule seu peso ideal, utilizando as seguintes fórmulas:
Para homens: (72.7*h) - 58
Para mulheres: (62.1*h) - 44.7

In [ ]:
Altura_em_metros =float(input("qual sua altura : "))
sexo=input("sexo (M para masculino / F para feminino : ").strip().upper()
if sexo=="M":
  peso_ideal = (72.7 * Altura_em_metros) - 58
  print(f"o peso ideal para um homem com {Altura_em_metros}m é {peso_ideal:.2f} kg")
elif sexo=="F":
   peso_ideal_femi = (62.1 * Altura_em_metros) - 44.7
   print(f"o peso ideal para mulher com {Altura_em_metros}m é {peso_ideal_femi:.2f} kg")

qual sua altura : 1.55
sexo (M para masculino / F para feminino : m
o peso ideal para um homem com 1.55m é 54.69 kg

questão 14

In [ ]:
peso_peixe=float(input("valor do peso do  peixe : "))
peso_limite=50
multa_por_kg=4

if peso_peixe > peso_limite:
  excesso = peso_peixe - peso_limite
  multa = excesso * multa_por_kg


else :
  excesso=0
  multa=0

print("peso peixe", peso_peixe, "kg")
print("excesso", excesso, "kg")
print("multa", multa, "R$")

valor do peso do  peixe : 60
peso peixe 60.0 kg
excesso 10.0 kg
multa 40.0 R$

questão 15

In [ ]:
valor_hora=float(input("valor das horas trabalhadas : "))
hora_mês=float(input("horas trabalhadas no mês : "))

salario_bruto=valor_hora * hora_mês
ir = salario_bruto * 0.11
inss = salario_bruto * 0.08
sindicato = salario_bruto * 0.05
salario_liquido= salario_bruto - (ir + inss + sindicato)

print(f"+ Salário Bruto : R$ {salario_bruto:.2f}")
print(f"- IR (11%)      : R$ {ir:.2f}")
print(f"- INSS (8%)     : R$ {inss:.2f}")
print(f"- Sindicato (5%): R$ {sindicato:.2f}")
print(f"= Salário Líquido: R$ {salario_liquido:.2f}")

valor das horas trabalhadas : 60
horas trabalhadas no mês : 177
+ Salário Bruto : R$ 10620.00
- IR (11%)      : R$ 1168.20
- INSS (8%)     : R$ 849.60
- Sindicato (5%): R$ 531.00
= Salário Líquido: R$ 8071.20

questão 16

In [ ]:
from ast import literal_eval
import math
area=float(input("valor da area"))
litros= area/3
latas=math.ceil(litros/18)
preço_total=latas*80
print(f"quantidade de latas : {latas}")
print(f"preço total : R$ {preço_total:.2f}")

valor da area12
quantidade de latas : 1
preço total : R$ 80.00

questão 17

In [7]:
import math
area= float(input("valor da area a ser pintado"))
area=area* 1.1
litro = area/6
lata= math.ceil(litros / 18)
preco_latas=lata*80
galoes=math.ceil(litros/3.6)
preco_galoes=galoes*25
lastas_mistura=int(litro//18)
restante=litro - (lastas_mistura*18)
galoes_mistura = math.ceil(restante / 3.6)
preco_mistura = (latas_mistura * 80) + (galoes_mistura * 25)

print("\nSituação 1: Apenas latas de 18L")
print(f"Quantidade: {lata} latas")
print(f"Preço total: R$ {preco_latas:.2f}")

print("\nSituação 2: Apenas galões de 3,6L")
print(f"Quantidade: {galoes} galões")
print(f"Preço total: R$ {preco_galoes:.2f}")

print("\nSituação 3: Mistura de latas e galões")
print(f"Quantidade: {latas_mistura} latas e {galoes_mistura} galões")
print(f"Preço total: R$ {preco_mistura:.2f}")

valor da area a ser pintado333

Situação 1: Apenas latas de 18L
Quantidade: 11 latas
Preço total: R$ 880.00

Situação 2: Apenas galões de 3,6L
Quantidade: 51 galões
Preço total: R$ 1275.00

Situação 3: Mistura de latas e galões
Quantidade: 10 latas e 2 galões
Preço total: R$ 850.00

questão 18

In [8]:
tamanho_mb = float(input("tamanho do arquivo em mb : "))
tamanho_mbps = float(input("velocidade em mbps"))
tempo_segundo = (tamanho_mb * 8 ) / tamanho_mbps
tempo_mnt = tempo_segundo / 60
print(f"tempo de download {tempo_mnt:.2f} minutos")

tamanho do arquivo em mb : 600
velocidade em mbps200
tempo de download 0.40 minutos

questão 19

In [11]:
numeros=[]
qtd=int(input("quantos numeros você deseja adc na lista : "))
for i in range(qtd):
  n=int(input(f"digite o {i+1}ºnumero "))
  numeros.append(n)
  print("\nLista preenchida:", numeros)
  pesquisa=int(input("\ndigite um numero para colocar na lista : "))

  if pesquisa in numeros:
    posicao=numeros.index(pesquisa)
    print(f"o numero {pesquisa} foi encontrado na posição {posicao}. ")
else:
  print(f"o numero {pesquisa} não foi encontrado.")

quantos numeros você deseja adc na lista : 6
digite o 1ºnumero 1

Lista preenchida: [1]

digite um numero para colocar na lista : 2
digite o 2ºnumero 3

Lista preenchida: [1, 3]

digite um numero para colocar na lista : 4
digite o 3ºnumero 5

Lista preenchida: [1, 3, 5]

digite um numero para colocar na lista : 6
digite o 4ºnumero 2

Lista preenchida: [1, 3, 5, 2]

digite um numero para colocar na lista : 4
digite o 5ºnumero 6

Lista preenchida: [1, 3, 5, 2, 6]

digite um numero para colocar na lista : 4
digite o 6ºnumero 4

Lista preenchida: [1, 3, 5, 2, 6, 4]

digite um numero para colocar na lista : 6
o numero 6 foi encontrado na posição 4.
o numero 6 não foi encontrado.

questão 20

In [15]:
aaaaaaa
aadddddddaaaaa


a
aaaa


gabarito = (
    "A", "B", "C", "D", "E",
    "A", "B", "C", "D", "E",
    "A", "B", "C", "D", "E",
    "A", "B", "C", "D", "E"
)

print("Prova com 20 questões. Digite apenas A, B, C, D ou E.")


while True:
    respostas_aluno = []

    for i in range(20):
        resposta = input(f"Digite a resposta da questão {i+1}: ").upper().strip()
        while resposta not in ["A", "B", "C", "D", "E"]:
            print("Resposta inválida! Digite A, B, C, D ou E.")
            resposta = input(f"Digite a resposta da questão {i+1}: ").upper().strip()
        respostas_aluno.append(resposta)

    acertos = 0
    for i in range(20):
        if respostas_aluno[i] == gabarito[i]:
            acertos += 1

    print(f"\nO aluno acertou {acertos} questões.")


    if acertos >= 12:
        print("Classificado")
    else:
        print("Desclassificado")

    continuar = input("\nDeseja cadastrar outro aluno? (S/N): ").upper().strip()
    if continuar != "S":
        print("Programa finalizado!")
        break

Prova com 20 questões. Digite apenas A, B, C, D ou E.
Digite a resposta da questão 1: a
Digite a resposta da questão 2: a
Digite a resposta da questão 3: a
Digite a resposta da questão 4: a
Digite a resposta da questão 5: a
Digite a resposta da questão 6: a
Digite a resposta da questão 7:
Resposta inválida! Digite A, B, C, D ou E.
Digite a resposta da questão 7:
Resposta inválida! Digite A, B, C, D ou E.
Digite a resposta da questão 7: a
Digite a resposta da questão 8:
Resposta inválida! Digite A, B, C, D ou E.
Digite a resposta da questão 8: a
Digite a resposta da questão 9: a
Digite a resposta da questão 10: a
Digite a resposta da questão 11:
Resposta inválida! Digite A, B, C, D ou E.
Digite a resposta da questão 11: d
Digite a resposta da questão 12: d
Digite a resposta da questão 13: d
Digite a resposta da questão 14: d
Digite a resposta da questão 15: d
Digite a resposta da questão 16:
Resposta inválida! Digite A, B, C, D ou E.
Digite a resposta da questão 16:
Resposta inválida! Digite A, B, C, D ou E.
Digite a resposta da questão 16:
Resposta inválida! Digite A, B, C, D ou E.
Digite a resposta da questão 16: d
Digite a resposta da questão 17:
Resposta inválida! Digite A, B, C, D ou E.
Digite a resposta da questão 17:
Resposta inválida! Digite A, B, C, D ou E.
Digite a resposta da questão 17:
Resposta inválida! Digite A, B, C, D ou E.
Digite a resposta da questão 17: d
Digite a resposta da questão 18: d
Digite a resposta da questão 19: d
Digite a resposta da questão 20: d

O aluno acertou 4 questões.
Desclassificado

Deseja cadastrar outro aluno? (S/N): s
Digite a resposta da questão 1: a
Digite a resposta da questão 2: a
Digite a resposta da questão 3:
Resposta inválida! Digite A, B, C, D ou E.
Digite a resposta da questão 3:
Resposta inválida! Digite A, B, C, D ou E.
Digite a resposta da questão 3:
Resposta inválida! Digite A, B, C, D ou E.
Digite a resposta da questão 3:
Resposta inválida! Digite A, B, C, D ou E.
Digite a resposta da questão 3: a
Digite a resposta da questão 4: a
Digite a resposta da questão 5: a
Digite a resposta da questão 6: a
Digite a resposta da questão 7: a
Digite a resposta da questão 8: a
Digite a resposta da questão 9: a
Digite a resposta da questão 10: a
Digite a resposta da questão 11: a
Digite a resposta da questão 12:
Resposta inválida! Digite A, B, C, D ou E.
Digite a resposta da questão 12:
Resposta inválida! Digite A, B, C, D ou E.
Digite a resposta da questão 12:
Resposta inválida! Digite A, B, C, D ou E.
Digite a resposta da questão 12: a
Digite a resposta da questão 13: a
Digite a resposta da questão 14: aa
Resposta inválida! Digite A, B, C, D ou E.
Digite a resposta da questão 14: a
Digite a resposta da questão 15: a
Digite a resposta da questão 16: a
Digite a resposta da questão 17: aa
Resposta inválida! Digite A, B, C, D ou E.
Digite a resposta da questão 17: aa
Resposta inválida! Digite A, B, C, D ou E.
Digite a resposta da questão 17: a
Digite a resposta da questão 18: a
Digite a resposta da questão 19: a
Digite a resposta da questão 20: a

O aluno acertou 4 questões.
Desclassificado

Deseja cadastrar outro aluno? (S/N): n
Programa finalizado!

questão 21

In [ ]:
cidades = []


def tem_duplicata(lista):
    return len(lista) != len(set(lista))

while len(cidades) < 6:
    cidade = input(f"Digite o nome da cidade {len(cidades)+1}: ").strip()


    opcao = input("Deseja adicionar algo ao nome da cidade? (S/N): ").upper().strip()
    if opcao == "S":
        complemento = input("Digite o que deseja adicionar: ").strip()
        cidade = cidade + " " + complemento
    if cidade in cidades:
        print("Essa cidade já foi inserida! Digite outra.")
    else:
        cidades.append(cidade)

print("\nCidades cadastradas:")
for c in cidades:
    print(c)

cidade_mais_longa = max(cidades, key=len)
print(f"\nA cidade com o nome mais extenso é: {cidade_mais_longa}")

questão 22

In [ ]:

letra = input("Digite uma letra: ").upper().strip()

if letra in ["A", "E", "I", "O", "U"]:
    print("Vogal")
else:
    print("Consoante")

questão 23

In [ ]:
nota1 = float(input("Digite a primeira nota: "))
nota2 = float(input("Digite a segunda nota: "))

media = (nota1 + nota2) / 2

if media == 10:
    print("Aprovado com Distinção")
elif media >= 7:
    print("Aprovado")
else:
    print("Reprovado")

questão 24

In [ ]:
palavra1 = input("Digite a primeira palavra: ")
palavra2 = input("Digite a segunda palavra: ")
palavra3 = input("Digite a terceira palavra: ")

palavras = [palavra1, palavra2, palavra3]


maior = max(palavras, key=len)

print(f"A maior palavra é '{maior}' e tem {len(maior)} caracteres.")

questão 25

In [ ]:
num1 = float(input("Digite o primeiro número: "))
num2 = float(input("Digite o segundo número: "))
num3 = float(input("Digite o terceiro número: "))

maior = max(num1, num2, num3)
menor = min(num1, num2, num3)

print(f"O maior número é {maior}")
print(f"O menor número é {menor}")

questão 26

In [ ]:
preco1 = float(input("Digite o preço do primeiro produto: "))
preco2 = float(input("Digite o preço do segundo produto: "))
preco3 = float(input("Digite o preço do terceiro produto: "))

mais_barato = min(preco1, preco2, preco3)

print(f"O produto mais barato custa R$ {mais_barato:.2f}")

questão 27

In [ ]:
num1 = float(input("Digite o primeiro número: "))
num2 = float(input("Digite o segundo número: "))
num3 = float(input("Digite o terceiro número: "))

numeros = [num1, num2, num3]
numeros.sort(reverse=True)

print("Números em ordem decrescente:", numeros)

questão 28

In [ ]:
turno = input("Digite seu turno (M-matutino, V-vespertino, N-noturno): ").upper().strip()

if turno == "M":
    print("Bom Dia!")
elif turno == "V":
    print("Boa Tarde!")
elif turno == "N":
    print("Boa Noite!")
else:
    print("Valor Inválido!")

questão 29

In [ ]:
salario = float(input("Digite o salário atual: "))

if salario <= 280:
    percentual = 20
elif salario <= 700:
    percentual = 15
elif salario <= 1500:
    percentual = 10
else:
    percentual = 5

valor_aumento = salario * (percentual / 100)
novo_salario = salario + valor_aumento

print(f"Salário antes do reajuste: R$ {salario:.2f}")
print(f"Percentual aplicado: {percentual}%")
print(f"Valor do aumento: R$ {valor_aumento:.2f}")
print(f"Novo salário: R$ {novo_salario:.2f}")

questão 30

In [ ]:
valor_hora = float(input("Digite o valor da hora: "))
horas = float(input("Digite a quantidade de horas trabalhadas: "))

salario_bruto = valor_hora * horas

if salario_bruto <= 900:
    ir = 0
elif salario_bruto <= 1500:
    ir = salario_bruto * 0.05
elif salario_bruto <= 2500:
    ir = salario_bruto * 0.10
else:
    ir = salario_bruto * 0.20

inss = salario_bruto * 0.03
fgts = salario_bruto * 0.11

total_descontos = ir + inss
salario_liquido = salario_bruto - total_descontos

print(f"Salário Bruto: R$ {salario_bruto:.2f}")
print(f"(-) IR: R$ {ir:.2f}")
print(f"(-) INSS: R$ {inss:.2f}")
print(f"FGTS: R$ {fgts:.2f}")
print(f"Total de descontos: R$ {total_descontos:.2f}")
print(f"Salário Líquido: R$ {salario_liquido:.2f}")

questão 31

In [14]:
respostas_sim = 0

perguntas = [
    "Telefonou para a vítima? (S/N) ",
    "Esteve no local do crime? (S/N) ",
    "Mora perto da vítima? (S/N) ",
    "Devia para a vítima? (S/N) ",
    "Já trabalhou com a vítima? (S/N) "
]
for p in perguntas:
    resposta = input(p).upper().strip()
    if resposta == "S":
        respostas_sim += 1
if respostas_sim == 2:
    print("Suspeita")
elif respostas_sim == 3 or respostas_sim == 4:
    print("Cúmplice")
elif respostas_sim == 5:
    print("Assassino")
else:
    print("Inocente")

Telefonou para a vítima? (S/N) s
Esteve no local do crime? (S/N) s
Mora perto da vítima? (S/N) s
Devia para a vítima? (S/N) s
Já trabalhou com a vítima? (S/N) s
Assassino